# .env - ФАЙЛ, КОТОРЫЙ НЕ ДОЛЖЕН ПОПАДАТЬ В GIT!

# Полный URI подключения к вашей базе данных Neon. 
# Получите его в консоли Neon (Connect -> Connection Details).
DATABASE_URL=postgresql://[user]:[password]@[host]/[database]?sslmode=require&channel_binding=require

# Порт для запуска Express сервера
PORT=3000